@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    background: transparent;
}

.container{
    /* width: 100vw; */
    min-height: 100vh;
    background: #fff;
    transition: background 0.5s ease;
}

.container.dark{
    background: #000;
}